
.app{
    padding: 0;
    margin: 0 auto;
    width: 1440px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar_left{
    border-right: 1px solid #f0f0f0;
    width: 80px;
    height: 890px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.main-contain{
    width: 910px;
    padding: 36px 40px 40px 40px;
    box-sizing: border-box;
    position: relative;
    border-right: 1px solid #f0f0f0;

}
.sidebar_right{
    width: 445px;
    height: 100px;
}
.sidebar_left-top{
    height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.sidebar_left-top a{
    border: 1px solid #fff;
    padding: 15px;
}
.sidebar_left-top a:hover{
    border: 1px solid #e5577b;
    padding: 15px;
    border-radius: 15px;
}
.sidebar_left-bottom{
    height: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.setting_icon :hover{
    transform: rotate(5deg);
}
.my_avt{
    border-radius: 20px;
    border: 3px solid #00000000;
}
.my_avt:hover{
    border: 3px solid #1dd75b;
}
.meeting_title{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}
.meeting_time{
    padding: 10px;
    border: 1px solid red;
    border-radius: 25px;
    display: inline-block;
    color: red;
    line-height: 25px;
}
.meeting_time i{
    font-size: 10px;
    padding-right: 8px;
}
.main-contain_top-header{
    display: flex;
    padding-bottom: 25px;
    justify-content: space-between;
}
.meeting_name-of-cre{
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #e5577b;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    box-sizing: border-box;
}
.meeting_date, .meeting_occour{
    display: inline-block;
    padding: 0 18px;
}
.main_call-big {
    margin-top: 35px;
    position: relative;
}
.main_face{
    width: 830px;
    border-radius: 0 0 10px 10px;

}
.main_person-name{
 padding: 13px 10px;
 background-color: #757679;
 color: #fff;
 font-size: 15px;
 border-radius: 5px;
 display: inline-block;
 position: absolute;
 top: 15px;
 left: 20px;
}
.main_person-name i{
 font-size: 8px;

    color: #1dd75b;
    padding-right: 5px;
}
.main_mic{
    display: inline-block;
    width: 38px;
    height: 38px;
    position: absolute;
 top: 15px;
 right: 20px;
}

.meeting_guest-side{
    position: relative;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.meeting_guest{
    position: relative;
}
.guest_face{
    border-radius: 10px;
}
.guest_name{
    padding: 13px 10px;
    background-color: #757679d0;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 10px;
}
.guest_name i{
    font-size: 8px;

    color: #1dd75b;
    padding-right: 3px;
}
.guest_mic{
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    position: absolute;
 top: 8px;
 right: 10px;
}
.meeting_control{
    display: flex;
    justify-content: center;
}
.control_btn{
    margin: 25px 7.5px;
}
.control_btn_end{
    margin: 25px 7.5px;
    padding: 15px 20px;
    background-color: #f22128;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
.control_btn_end:hover{
    background-color: #ff0008;
}
.sidebar_right-top{
    padding: 35px;
    border-bottom: 1px solid #f0f0f0;
}
.sidebar_right-title{
    display: inline-block;
    margin-bottom: 20px;
}
.sidebar_right-title .des{ 
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}
.sidebar_right-title .num{ 
    font-size: 15px;
    padding: 5px 7px;
    color: #e5577b;
    background-color: #fdf2f4;
    border-radius: 10px;
}
.add-btn{
    padding: 10px 15px;
    border: 1px solid #e5577b;
    display: block;
    border-radius: 5px;
    color: #e5577b;
    float: right;
}
.add-btn span{
    font-weight: 700;
    font-size: 20px;
}
.add-btn:hover{
    background-color: #e5577bca;
    color: #fff;
}

.participants-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.participants-list-item span{
    display: flex;
    align-items: center;
}
.par-avatar{
    display: inline-block;
    line-height: 37px;
}
.par-name{
    display: inline-block;
    color: rgb(41, 41, 41);
    line-height: 35px;
    margin-left: 10px;
    font-size: 15px;
}
.par-btn{
    padding-right: 8px;
    color: #6f7888;
}
.sidebar_right-chat{
    padding: 35px;
}

.mess_item{
    margin-bottom: 10px;
}
.mess_info{
    display: flex;
    align-items: center;
}
.mess_name{
    display: inline-block;
    margin-left: 12px;
    font-size: 17px;
    font-weight: 600;
}
.mess_time{
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: #757679;
    line-height: 20px;
}
.chat_mess{
    display: inline-block;
    margin-left: 50px;
    padding: 13px;
    line-height: 20px;
    font-size: 14px;
    background-color: #f8f9fa;
    border-radius: 5px;
    /* text-align: justify; */
}
.by_me{
    background-color: #fdf2f4;
}
.chat_typing{
    padding: 8px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 10px;
}
.send_mess{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.send_mess input{
    display: inline-block;
    border: none;
    background-color: #f3f4f6;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
}
.send_mess i{
    position: absolute;
    right: 65px;
    top: 13px;
    color: #6f7888;
}
.send_mess input:focus{
    outline: none;
}